
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #f9faf6;
}

a {
     text-decoration: none;
     color: inherit;
     display: inline-block;
}

/* first */
.first-banner {
    background-image: url("https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50em;
}

.first-container h1 {
    color: rgb(245, 245, 71);
    font-style: italic;
    position: sticky;
    top: 0;
    z-index: 999999;
}
.banner-list {
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 3em;
}

.banner-list li:hover {
    background-color: rgb(245, 245, 71);
    color: rgb(54, 29, 29);
    animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }

.first-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3em;
}

.first-part {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8em;
}

.first-part h2 {
    font-size: 3em;
    font-style: italic;
    margin-bottom: 0.8em;
}

.first-part p {
    font-size: 5em;
    margin-bottom: .8em;
    font-weight: 800;
}

.first-a {
    padding: 2em 4em;
    background-color: rgb(245, 245, 71) ;
    border: none;
    
}


button:hover {
        box-shadow: 5px 5px 5px rgb(113, 202, 125);
        animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }

/* second */

.second-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
}

.second-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6em;
}
.second-part h3 {
    font-size: 2.5em;
}

.second-part p {
    padding-top: 1em;
    font-style: italic;
    padding-bottom: 5em;
    
}

.second-banner img {
    width: 65px;
    height: 65px;
}

.second {
    position: relative;
    width: 20%;
}

.ombre {
    background-color: rgb(245, 245, 71) ;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: -1em;
    left: 8.2em;
}

.second h4,
.second p {
    padding-top: 3em;
}

.second p {
    text-align: center;
}

/* third */
.third-part-1 {
    padding-top: 11em;
    padding-bottom: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-part-1 h4 {
    font-size: 2.5em;
    padding-bottom: 0.5em;
    
}

.third-part-1 p {
    font-style: italic;
    padding-bottom: 2em;
}

.third-container img{
    width: 400px;
    height: 300px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.third-part-2 {
    width: 30%;
}

.third-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

/* fourth */

.fourth-container {
    position: relative;
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 8em;
    align-items: center;
}
    
.fourth-1 { grid-area: 1 / 1 / 2 / 2; }
.fourth-2 { grid-area: 1 / 2 / 2 / 3; }
.fourth-3 { grid-area: 2 / 2 / 3 / 3; }
.fourth-4 { grid-area: 2 / 3 / 3 / 4; }
.fourth-5 { grid-area: 3 / 2 / 4 / 3; }
.fourth-6 { grid-area: 3 / 1 / 4 / 2; }
.fourth-7 { grid-area: 4 / 2 / 5 / 3; }
.fourth-8 { grid-area: 4 / 3 / 5 / 4; }
.fourth-9 { grid-area: 5 / 2 / 6 / 3; }

.fourth-part {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.fourth-part h4 {
    font-size: 2.5em;
    padding-top: 5em;
    padding-bottom: 1em;
}

.fourth-part p {
    font-style: italic;
}

/* .fourth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .fourth {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
} */


.fourth-img {
    border-radius: 50%;
    display: block;
    margin: auto;
}

.fourth-text h5 {
    font-size: 30px;
    font-weight: 800;
    padding-bottom: .1em;
}

.fourth-part-3 {
    position: relative;
}

.fourth-ombre {
    width: 215px;
    height: 215px;
    border-radius: 50%;
    background-color: #e9e6e6;
    position: absolute;
    z-index: -1;
    top: -.5em;
    left: 1.15em;
}



.fourth-impair {
    display: flex;
    flex-direction: row-reverse;
}



.vide {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(245, 245, 71);
    position: relative;
    margin: auto;
}

.vide p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,  -50%);
    width: 100%;
    text-align: center;
    color: rgb(40, 170, 127);
    font-weight: 700px;
}

.timeline {
    width: 3px;
    background: rgb(206, 204, 204);
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
}

.fourth-part p {
    padding-bottom: 8em;
}

.fourth-2 {
   text-align: end;
}

.fourth-vide {
    position: relative;
    width: 10%;
    padding-bottom: 10em;
}

.fourth-vide p{
    /* color: aliceblue; */
    font-weight: 800;
    font-size: 1.3em;
    padding-top: 3.5em;
    padding-left: 2em;
    color: rgb(99, 170, 161);
    
}

/** fifth **/

.fifth-banner {
    background-color: rgb(241, 240, 237);
    margin-top: 3em;
    
}

.fifth-part {
    display: flex;
    flex-direction: column;
    align-items: center;
     padding-top: 4em;
  
}

.fifth-part h4 {
    font-size: 2.5em;
    padding-bottom: 1em;
}

.fifth-part p {
    font-style: italic;
    padding-bottom: 1em;
}
.fifth-part-2-img {
    width: 224px;
    height: 224px;
    border-radius: 50%;
}

.fifth-a {
    width: 30px;
    height: 30px;
    
}

.fifth-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5em;
}

.fifth-part-2 {
    width: 30%;
    text-align: center;
    
}

.fifth-part-2 h5 {
    font-size: 1.5em;
    padding-top: 2em;
    padding-bottom: .3em;
}

.fifth-part-2 p {
    padding-bottom: 1em;
}

.fifth-change {
    gap: 2em;
}

.fifth-text {
    width: 50%;
    text-align: center;
    margin: auto;
    padding-top: 4em;
    padding-bottom: 4em;
}

/** sixth **/

.sixth-img {
    width: 200px;
    height: 170px;
    padding-top: 5em;
}

.sixth-part {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.sixth-google {
    width: 170px;
    height:150px
    padding-top: 2em;
}
.sixth-ibm {
    width:140px;
    height: 50px;
    padding-top: 1.5rem;
}

.sixth-microsoft {
    padding-top: 5.5em;
}

.contact-form {
    background-image: url('/img/map-image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    width: 100%;
    height: 45em;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form h3{
    color: #e9e6e6;
    font-size: 3em;
}

.contact-form p {
    color: rgb(146, 145, 144);
}

/* seventh */

.seventh-head {
    padding-top: 5em;
}

.seventh-head p {
    font-style: italic;
    text-align: center;
    padding-top: 1em;
}

.seventh-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.seventh-list-1 {
    padding: 2em;   
}

.seventh-list-2 {
    margin: 2em;
    width: 40em;
    height: 5em;
    border-radius: 8px;
    display: block;
    font-size: 1em;
    font-weight: 400;
}

.seven-text {
    width: 100%;
    border-radius: 8px;
    border: 1px solid black;
    
    font-size: 3em;
    font-weight: 400;

}

.seventh-button {
    padding: 1em 3em;
    background-color: rgb(245, 245, 71) ;
    border-radius: 10px;
}

.seven-button:hover {
    box-shadow: 5px 5px 5px rgb(113, 202, 125);
    animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
0% {
 box-shadow: 0 0 0 0 #05bada66;
}

70% {
 box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
}

100% {
 box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
}
}

.footer-img {
    width: 40px;
    height: 40px;
}

.footer-part {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}